// ---- VARIABLES ---- //

$darkestGray: #3c4044;
$darkerGray: #5a6066;
$coolGray: #788088;
$lightGray: #aab0b6;
$lighterGray: #d8dce0;
$lightestGray: #ecf0f4;

$darkBlue: #003c60;
$lightBlue: #00aadc;

$green: #72bf44;

$input: 36px;
$unit: 24px;
$sixth: 4px;

// ---- PAGE STRUCTURE ---- //

html {
  color: $darkBlue;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

.head-wrapper {
  width: 1080px;
  margin: auto;
}

.wrapper {
  width: 1080px;
  margin: 40px auto 0 auto;
  display: flex;
}

.wrapper__left {
  width: 520px;
  margin-right: 40px;
}

.wrapper__right {
  width: 520px;
}

h1 {
  padding-bottom: 12px;
  border-bottom: 1px solid $lighterGray;
}

h2 {
  color: $lightBlue;
  padding-bottom: 8px;
  border-bottom: 1px solid $lighterGray;
  &:first-of-type {
    margin-top: 0;
  }
}

ul {
  padding-left: 24px;
}

li {
  margin-bottom: 8px;
}
