/*	http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background-color: #ecf0f4;
  color: #003c60;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.screen-hide-top {
  display: none; }

.info-side {
  display: none; }

@media only screen and (min-width: 1000px) {
  .wrapper {
    position: absolute;
    width: 1080px;
    height: 690px;
    top: 50%;
    left: 50%;
    margin-top: -345px;
    margin-left: -540px; }

  h1 {
    height: 32px;
    line-height: 35px;
    background-color: #00aadc;
    color: white;
    padding-left: 24px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }

  .row {
    background-color: white;
    border-top: none;
    padding-top: 24px;
    padding-left: 24px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-wrap: wrap; }

  input {
    height: 32px;
    width: 192px;
    padding-left: 8px;
    background-color: #ecf0f4;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    margin-right: 24px;
    margin-bottom: 24px; }

  input::placeholder {
    color: #788088; }

  select {
    height: 24px;
    border: none;
    background-color: #ecf0f4;
    border-radius: 4px; }

  .leftSize {
    width: 672px;
    float: left;
    margin-right: 24px; }

  .rightSize {
    width: 384px;
    float: right; }

  .marginTop {
    margin-top: 24px; }

  .leftSelect {
    height: 32px;
    margin-right: 24px;
    margin-bottom: 24px;
    font-size: 18px; }

  .widthOne {
    width: 192px; }

  .widthTwo {
    width: 408px; }

  .widthQuarter {
    width: 138px; }

  .widthHA {
    width: 101.28px; }

  .minusCheckbox {
    width: 136px; }

  .checkbox {
    width: 32px;
    padding: 0;
    margin: 0 24px 24px 0; }

  #qty1,
  #qty2,
  #qty3,
  #qty4,
  #qty5,
  #qty6 {
    cursor: pointer; }

  .leftP {
    float: left;
    line-height: 42px; }

  .rightP {
    float: right;
    line-height: 42px;
    margin-right: 24px;
    width: 72px;
    text-align: right; }

  .highlighted {
    padding-left: 12px;
    border-left: 6px solid #00aadc;
    font-weight: bold;
    color: #00aadc; }

  .adjust {
    float: right;
    width: 60px;
    margin: 9px; }

  .small {
    color: #aab0b6;
    font-size: 14px; }

  hr {
    border: none;
    border-top: 1px solid #d8dce0;
    margin: 0;
    margin-right: 24px;
    clear: both; }

  .help {
    line-height: 48px;
    text-decoration: none;
    color: #aab0b6;
    font-size: 14px; }

  #submit {
    width: 336px;
    height: 96px;
    border: none;
    border-radius: 8px;
    margin: 31px 0 24px 0;
    font-size: 36px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #72bf44;
    color: white;
    cursor: pointer;
    text-shadow: 1px 1px 2px #457528;
    outline: none; }

  #submit:hover {
    box-shadow: inset 0 0 24px #50882f; }

  #submit:active {
    background-color: #5b9b35; }

  #print-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #72bf44;
    color: white;
    border: none;
    padding: 0.75rem 0.75rem 1rem 1rem;
    border-bottom-left-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    text-shadow: 1px 1px 2px #457528; }

  #print-button:hover {
    box-shadow: inset 0 0 12px #50882f; }

  #print-button:active {
    background-color: #5b9b35; }

  #print-button:focus {
    outline: none; }

  #copy-button {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #72bf44;
    color: white;
    border: none;
    padding: 0.75rem 1rem 1rem 0.75rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    text-shadow: 1px 1px 2px #457528;
    z-index: 2; }

  #copy-button:hover {
    box-shadow: inset 0 0 12px #50882f; }

  #copy-button:active {
    background-color: #5b9b35; }

  #copy-button:focus {
    outline: none; }

  .copy-modal__container {
    display: flex; }

  #copy-modal {
    position: absolute;
    left: -90px;
    display: none; }
    #copy-modal p {
      color: black;
      background-color: white; }
    #copy-modal b {
      font-weight: bold; }
    #copy-modal i {
      font-style: italic; } }
@media only screen and (max-width: 1000px) {
  html {
    width: 720px; }

  .wrapper {
    position: relative;
    width: 672px;
    margin: auto; }

  h1 {
    height: 32px;
    line-height: 35px;
    background-color: #00aadc;
    color: white;
    padding-left: 24px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 24px; }

  .row {
    background-color: white;
    border-top: none;
    padding-top: 24px;
    padding-left: 24px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-wrap: wrap; }

  input {
    height: 32px;
    width: 192px;
    padding-left: 8px;
    background-color: #ecf0f4;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    margin-right: 24px;
    margin-bottom: 24px; }

  input::placeholder {
    color: #788088; }

  select {
    height: 24px;
    border: none;
    background-color: #ecf0f4;
    border-radius: 4px; }

  .leftSize {
    width: 672px;
    margin-right: 24px; }

  .rightSize {
    width: 672px; }

  div.rightSize {
    margin-bottom: 24px; }

  .marginTop {
    margin-top: 24px; }

  .leftSelect {
    height: 32px;
    margin-right: 24px;
    margin-bottom: 24px;
    font-size: 18px; }

  .widthOne {
    width: 192px; }

  .widthTwo {
    width: 408px; }

  .widthQuarter {
    width: 138px; }

  .widthHA {
    width: 101.28px; }

  .minusCheckbox {
    width: 136px; }

  .checkbox {
    width: 32px;
    padding: 0;
    margin: 0 24px 24px 0; }

  .leftP {
    float: left;
    line-height: 48px; }

  .rightP {
    float: right;
    line-height: 48px;
    margin-right: 24px;
    width: 72px;
    text-align: right; }

  .adjust {
    float: right;
    width: 60px;
    margin: 12px; }

  .small {
    color: #aab0b6;
    font-size: 14px; }

  hr {
    border: none;
    border-top: 1px solid #d8dce0;
    margin: 0;
    margin-right: 24px;
    clear: both; }

  .help {
    line-height: 48px;
    text-decoration: none;
    color: #aab0b6;
    font-size: 14px; }

  #submit {
    width: 624px;
    height: 96px;
    border: none;
    border-radius: 8px;
    margin: 24px 0 24px 0;
    font-size: 36px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #72bf44;
    color: white;
    cursor: pointer;
    text-shadow: 1px 1px 2px #457528;
    outline: none; }

  #submit:hover {
    box-shadow: inset 0 0 24px #50882f; }

  #submit:active {
    background-color: #5b9b35; }

  #print-button,
  #copy-button {
    display: none; } }
@media print {
  #submit,
  .help,
  .adjust,
  .checkbox {
    display: none; }

  .screen-hide-top {
    display: flex;
    width: 100%;
    padding: 0.25rem 1.5rem 1rem 1.25rem; }
    .screen-hide-top img {
      height: 60px; }
    .screen-hide-top p {
      font-size: 1.25rem;
      letter-spacing: 4px;
      width: calc(80% - 240px);
      padding-left: 0.75rem;
      line-height: 60px; }
    .screen-hide-top aside {
      width: 20%;
      text-align: end;
      line-height: 60px;
      font-size: 1.25rem; }

  html {
    background-color: white;
    color: black; }

  .wrapper {
    width: 100%;
    padding: 0 0.75rem 0.5rem 1.5rem; }

  .row {
    display: flex;
    flex-wrap: wrap; }

  .rightSize {
    margin-right: 0.75rem; }

  .rightSize--print {
    margin-top: 2rem;
    margin-bottom: 0; }

  .price-side {
    flex-basis: 200px;
    flex-grow: 1;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

  hr {
    margin: 8px 0;
    width: 100%; }

  .info-side {
    display: flex;
    flex-basis: 200px;
    flex-grow: 1;
    margin-left: 2rem;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: flex-end; }
    .info-side p {
      line-height: 18px;
      font-size: 12px;
      text-align: right; }
    .info-side b {
      font-weight: bold;
      color: #00a0ff;
      font-size: 16px;
      margin-bottom: -16px;
      display: block; }

  h1 {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    color: #00a0ff;
    font-weight: bold; }

  select,
  input {
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    padding: 0.25rem;
    border: 1px solid gray; }

  .widthTwo {
    flex-basis: 50%;
    flex-grow: 2.25; }

  .widthOne,
  #exactGar,
  #exactScr,
  #exactQty,
  #additional {
    flex-basis: 25%;
    flex-grow: 1; }

  .widthQuarter {
    width: 20%;
    flex-grow: 1; }

  .widthHA {
    width: 15%;
    flex-grow: 1; }

  .leftP {
    display: block; }

  #print-button,
  #copy-button {
    display: none; } }
